.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookList {
    width: 400px;
    border: 1px solid red;
    flex-wrap: wrap;

}
.bookList > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookList > div > p {
    text-align: center;
}

.false{
    display: none;
}
.true{
    display: block;
    width: 80px;
    height: 120px;

}